@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* { 
    font-family: 'Noto Sans KR', sans-serif; 
}

html, body {
    width: 100vw; 
    height: 100vh; 
}

#fullpage div.section svg {
    margin-left:1em;
    width:30rem;
}

#discord svg {
    fill: #7289da;
}

#github svg {
    fill: #eee;
}

#twitch svg {
    fill: #eee;
}

#youtube svg {
    fill: #f00;
}

.white {
    color:white;
}

.mw50 {
    max-width:50vw;
}

div.rows {
    display: flex;
    flex-direction: row;
}

div.colums {
    display: flex;
    flex-direction: column;
}

ul.list {
    list-style-type: disc; 
    list-style-position: inside; 
}
