@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* { font-family: 'Noto Sans KR', sans-serif; }
html, body { width: 100vw; height: 100vh; }

header,
header .socials,
.web-content { display: flex; }

header {
    background-color: #111;

    align-items: center;
    justify-content: center;
}

header .logo svg {
    width: 7.5em;
}

header .socials li + li { margin-left: 0.5em; }
header .socials li a { text-decoration: none; }
header .socials li a svg {
    fill: #3d3d3d;
    width: 1.25em;
    transition: all 0.3s ease;
}
header .socials li:hover a svg,
header .socials li:active a svg { fill: #fff; }

.web-content {
    align-items: center;
    justify-content: center;

    padding: 2em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    body { display: flex; }

    header {
        height: inherit; 
        padding: 0 2rem;
        flex-direction: column;
    }

    .web-content { 
        height: inherit;
        flex: 1;
        text-align: initial;
    }
}